
@{
    ViewBag.Title = "邮件模板增加";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<form>
    <textarea name="editor1" id="editor1" rows="10" cols="120"></textarea>
    <script src="@Url.Content("~/Content/plugins/ckeditor_full/ckeditor.js")"></script>
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('editor1', { height: '980px', width: '100%' });
    </script>
</form>




